*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mio_id{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 32px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}

body{
    background-color: black;
}